/bin/
/README.txt
/MinecraftForge-License.txt
/MinecraftForge-Credits.txt
/LICENSE-fml.txt
/gradlew.bat
/gradlew
/forge-1.8-11.14.1.1419-changelog.txt
/CREDITS-fml.txt
/build.gradle
/build/
/gradle/
/.gradle/
/.settings/
/libs/
/lib/
/eclipse/
