# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

/logs/
*.json
!sounds.json
!/src/*/*.json
*.text
*.properties
/world/
/saves/
/mods/
/libs/
/build/
/config/
/crash-reports/
/build.gradle
/eula.txt
/options.txt
/.settings/
/screenshots/
